html {
	font-family: 'Quicksand';
	background: #101010;
}

body {
	margin: auto;
	width: 920px;
    padding-top: 0px;
}

h1 {
	font-family: 'Quicksand';
	font-size: 32px;
	font-weight: normal;
	text-align: center;
}

h2 {
	font-family: 'Helvetica Neue';
	font-size: 18px;
	font-weight: normal;
	text-align: center;
}

#content {
    padding-top: 0px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}	

#topNav ul {
	display: inline;
    padding-bottom: 0px;
}

#topNav ul li {
	display: inline;
	padding-left: 0px;
	padding-right: 30px;
    padding-bottom: 0px;
}

#art {
    bottom-padding: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 828px;
}

#text {
	margin: auto;
	text-align: center;
	font-family: 'Quicksand';
	font-size: 16px;
	color: #d2d2d2;
	width: 620px;
}

a:link, a:visited, a:active, a:hover {
	color: #b2b2b2;
	text-decoration: none;
}

a:hover { 
	color: #F25A5A;
}

a.name {
	color: #87EE9C;
}

a.topsel {
	color: #F25A5A;
}
