html {
	font-family: 'Helvetica Neue';
	background: #090909;
}

body {
	width: 920px;
    padding-top: 0px;
    -webkit-font-smoothing: antialiased;
    margin: auto;
}

h1 {
	font-family: 'Quicksand';
	font-size: 32px;
	font-weight: normal;
	text-align: center;
    margin-top: 30px;
    margin-bottom: 6px;
}

h2 {
	font-family: 'Helvetica Neue';
	font-size: 16px;
	font-weight: normal;
	text-align: center;
    margin-top: 2px;
}

#content {
    padding-top: 0px;
    padding-bottom: 42px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}	

#topNav ul {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 800px;
}

#topNav ul li {
	display: inline;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#art {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    bottom-padding: 14px;
}

#wrapper {
    padding: 0px;
}

#text {
    display: block;
	margin: auto;
	text-align: center;
	font-size: 16px;
	color: #d2d2d2;
	width: 460px;
}

#foot {
    padding-top: 68px;
    padding-bottom: 12px;
    font-size: 14px;
    text-align: left;
    color: #fff;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#foot ul {
    display: inline;
}

a:link, a:visited, a:active, a:hover {
	color: #d9d9d9;
	text-decoration: none;
}

a:hover { 
	color: #E45B5B;
}

a.topsel {
	color: #E45B5B;
}

a.name {
    color: #65F2A9;
}

h3 { 
    color: #fff;
    padding: 8px;
    width: 800px;
}

h3 span { 
    color: #d9d9d9;
    font: bold 18px/32px Helvetica Neue;
    letter-spacing: 0px;  
    padding: 8px; 
}
