html {
	font-family: 'Helvetica Neue';
	background: #101010;
}

body {
	margin: auto;
	width: 920px;
    padding-top: 0px;
    -webkit-font-smoothing: antialiased;
}

h1 {
	font-family: 'Quicksand';
	font-size: 32px;
	font-weight: normal;
	text-align: center;
    margin-top: 56px;
    margin-bottom: 42px;
}

h2 {
	font-family: 'Helvetica Neue';
	font-size: 16px;
	font-weight: normal;
	text-align: center;
    margin-top: 2px;
}

#content {
    padding-top: 0px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}	

#topNav ul li {
	display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

#art {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    bottom-padding: 14px;
}

#wrapper {
    padding: 20px;
}

#text {
	margin: auto;
	text-align: center;
	font-size: 14px;
	color: #d2d2d2;
	width: 520px;
}

a:link, a:visited, a:active, a:hover {
	color: #B1B0B0;
	text-decoration: none;
}

a:hover { 
	color: #E45B5B;
}

a.topsel {
	color: #E45B5B;
}

a.name {
    color: #65F2A9;
}
