html {
    margin: 0;
    padding: 0;
    background: #eeeeee;
    font-family: "Open Sans", sans-serif;
}

body {
    margin-left: 30px;
    margin-top: 5px;
    width: 530px;
    font-size: 14px;
}

h1 {
    font-family: "Crimson Text", Georgia, serif;
    font-size: 24px;
    font-weight: normal;
    text-transform: lowercase;
}

h2 {
    font-family: "Crimson Text", Georgia, serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: lowercase;
    text-align: left;
    color: #000;
    padding-bottom: 12px;
}

h3 {
    display: inline;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    color: #a5003d;
}

h4 {
    display: inline;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    color: #28929B;
}

#topNav ul {
    margin: 0;
    list-style-type: none;
    display: inline;
    padding-left: 0px;
    padding-bottom: 0px;
}

#topNav ul li {
    display: inline;
    padding-right: 24px;
    padding-bottom: 0px;
}

#content {
    display: table;
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
}    

#module {
    text-align: left;
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

#entry {
    font-size: 14px;
    text-align: left;
    color: #000;
    padding-top: 0px;
}

#foot {
    font-size: 14px;
    text-align: right;
    color: #000;
    padding-top: 20px;
}

a:link, a:visited, a:active, a:hover {
    color: #000;
    text-decoration: none;
}

a:hover { 
    color: #28929B;
}

a.current {
    color: #a5003d;;
}
