---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 400;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: 0px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.05);
}

.post-title {
  @include relative-font-size(1.25);
  letter-spacing: 0px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(1.25);
  }
}

.about {
  margin-left: 0;
  list-style: none;
  margin-bottom: $spacing-unit;
}
